<!DOCTYPE html>

<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>RMUTK NEWS</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'plugins/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'plugins/themify-icons/themify-icons.css') }}">
  <link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>

<body>
  <header class="sticky-top navigation">
    <div class=container>
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class=navbar-brand href="index.html"><img class="img-fluid" src="{{ url_for('static', filename = 'images/logo.png')}}" alt="godocs"></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
          <i class="ti-align-right text-dark"></i></button>
        <div class="collapse navbar-collapse text-center" id=navigation>
          <ul class="navbar-nav mx-auto align-items-center">
          </ul>
          <a class="nav-link" href="index.html">หน้าแรก</a>
          <a href="/logout" class="btn btn-sm btn-primary ml-lg-4">ออกจากระบบ</a>
        </div>
      </nav>
    </div>
  </header>
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="p-5 shadow rounded content">
            <h2 class="section-title">เพิ่มกระทู้</h2>

            <form method="POST" action="/success_thread"  enctype="multipart/form-data">
              <div class="form-group">
                <label>ชื่อกระทู้</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="กรุณากรอกชื่อกระทู้"
                  required>
              </div>
              <br>
              <div class="form-group">
                <label>รายละเอียด</label>
                <textarea name="detail" id="txt" class="form-control"
                  placeholder="กระกรุณากรอกรายละเอียด"></textarea>
              </div>
             <div class="form-group">
              <div class='file-input'>
                <input type="file" id="upload_file" name="file">
                <span class='button'>เพิ่มรูป</span>
                <span class='label' data-js-label>กรุณาเลือกไฟล์.....</span>
              </div>
            </div>
              <br>
              <button type="submit" class="btn btn-primary">บันทึก</button>
              <button type="button" onclick="location.href='/interact-admin.html';" class="btn btn-security">ยกเลิก</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
    </div>
  </footer>


  <script src="{{ url_for('static', filename = 'plugins/jQuery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'plugins/bootstrap/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/script.js')}}"></script>
  <script src="{{ url_for('static', filename = 'js/custom.js')}}"></script>

</body>

</html>