<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <title>RMUTK NEWS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'plugins/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'plugins/themify-icons/themify-icons.css') }}">
  <link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>

<body>
  <header class="sticky-top navigation">
    <div class=container>
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class=navbar-brand href="index.html"><img class="img-fluid" src="{{ url_for('static', filename = 'images/logo.png')}}" alt="godocs"></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
          <i class="ti-align-right text-dark"></i></button>
        <div class="collapse navbar-collapse text-center" id=navigation>
          <ul class="navbar-nav mx-auto align-items-center">

            <form class="form-inline search-wrapper d-none d-lg-block" action="/activity_search" method="POST">
              <input type='search' id="search" name="search_txt" class="form-control" placeholder=" ค้นหาข้อมูล...">
              <button class="border-0 bg-white" type="submit"><i class="ti-search"></i></button>
            </form>
          </ul>
          <a class="nav-link" href="index.html">หน้าแรก</a>
          <a href="/logout" class="btn btn-sm btn-primary ml-lg-4">ออกจากระบบ</a>
        </div>
      </nav>
    </div>
  </header>


  <section class="section pb-0">
    <div class="container">
      <div class="align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
          <h2 class="section-title1">ข่าวกิจกรรม</h2>
          <ul class="navbar-nav mx-auto align-items-center">
          </ul>
            {% if by != '' %}
                <input type="button" class="br nav-link btn btn-sm btn-primary" onclick="location.href='/activity.html';" value="ข่าวคณะ"/>
              {% else %}
                <input type="button" class="br nav-link btn btn-sm btn-primary" onclick="location.href='/activity.html/utk2';" value="ข่าวมหาวิทยาลัย"/>
            {% endif %}
        </nav>
        {% if length == 0 %}
        <div class="card3">
            <h4>ไม่พบข้อมูลจากการค้นหา</h4>
        </div>
        {% else %}

        {% for event in data %}
          {% if my_group == event.group or event.group == "@มหาวิทยาลัย" %}
              {% if event.id != "e000" %}
                <div class="dropdown" style="float:right;">
              <button class="dropbtn"><i class="fa fa-ellipsis-v" style="font-size:20px"></i></button>
              <div class="dropdown-content">
                <form action="/delete_event" method=post>
                  <input type="hidden" name="id" value="{{event.id}}">
                  <a><input type="button" class=" btn btn-sm btn-primary" onclick="location.href='/edit-activity-admin.html/{{event.id}}';" value="แก้ไขข้อมูล" /></a>
                  <a href="#"> <input type="submit" class=" btn btn-sm btn-security " style='float: right;' name="delete" value="ลบช้อมูล" ></a>
                </form>
              </div>
              </div>
                  <div onclick="location.href='/activity-details-admin.html/{{event.id}}'" class="course">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="card-block">
                            <div class="name"> <h2>{{event.title}}</h2>


                            </div>
              {% else %}
                            <div class="course">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="card-block">
              <div class="name"> <h2>{{event.title}}</h2></div>
              {% endif %}

            {% if event.id != "e000" %}
            <p class="text">
              {% for i in range(event.length) %}
                {% if i < event.length %}
                  {{event.detail[i]}}<br>
                {% else %}
                  {{event.detail[i]}}
                {% endif %}
              {% endfor %}</p>
            {% endif %}
            {% if event.id != "e000" %}

            {% endif %}

                             <div style="position: absolute;bottom: 10px; font-size: 12px;">คณะ {{event.group}} <br> สร้างเมื่อ {{event.date}}<br>เวลา {{event.time}}</div>
          </div>
              </div>
              <div class="col-lg-4 content-item" style="width: 300px;margin: 1px auto;">
                  <div class="pic">
                <img class="d-block " src="{{event.image}}" alt="" style="height:300px">
                  </div>
              </div>
            </div>

        </div>
                            {% endif %}
        {% endfor %}
        {% endif %}

      </div>
    </div>
                    </div>
                  </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
    </div>
  </footer>


<script src="{{ url_for('static', filename = 'plugins/jQuery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/script.js')}}"></script>

</body>

</html>