<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>RMUTK News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'plugins/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'plugins/themify-icons/themify-icons.css') }}">
  <link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet">

</head>

<header class="sticky-top navigation">
  <div class=container>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class=navbar-brand href="index.html"><img class="img-fluid" src="{{ url_for('static', filename = 'images/logo.png')}}" alt="godocs"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-align-right text-dark"></i></button>
      <div class="collapse navbar-collapse text-center" id=navigation>
        <ul class="navbar-nav mx-auto align-items-center">

        </ul>
        <a class="nav-link" href="index.html">หน้าแรก</a>
		<a href="/logout" class=" nav-link btn btn-sm btn-outline-primary ml-lg-4">ออกจากระบบ</a>

      </div>
    </nav>
  </div>
</header>
<body>

<form class="login100-form validate-form" method="post" action="/password">
    <section class="section">
      <div class="container">
          <div class="col-sm text-center text-xs-center">
            <div class="container">

                <div class="card6" >
                    <teble>
                        <h3>เปลี่ยนรหัสผ่าน</h3>

                            <tr align="center">
                                <tr>
                                    <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                                        <label for="oldpass">รหัสผ่านเดิม :</label>
                                        <input class="input100" type="password" name="oldpass">
                                        <span class="focus-input100" ></span>
                                    </div>
                                </tr>
                                <br>
                                <tr>
                                    <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                                        <label for="newpass">รหัสผ่านใหม่ :    </label>
                                        <input class="input100" type="password" name="newpass">
                                        <span class="focus-input100" ></span>
                                    </div>
                                </tr>
                                <br>
                                <tr>
                                    <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                                        <label for="conpass">ยืนยันรหัสผ่านใหม่ :   </label>
                                        <input class="input100" type="password" name="conpass">
                                        <span class="focus-input100" ></span>
                                    </div>
                                </tr>
                                <br>
                                <tr>
                                    <input type="submit" class="btn-sm btn btn-primary" value="ยืนยัน">
                                </tr>
                            </tr>
                    </teble>
                </div>



            </div>
          </div>
      </div>
    </section>
</form>
</body>

</html>